.idea
.cache
auto-save-list
eshell
el-get
custom.el
*.elc
.mc-lists.el
.smex-items
ac-comphist.dat
history
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
request
games
network-security.data
